.background {
    width: 100%;
    height: 100vh;
    background-image: url(images/background.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 0px;
}

.logo_word {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
    cursor: pointer;
}

.navbar {
    display: flex;
    width: 90%;
    height: 15%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

h1 {
    display: flex;
    width: 90%;
    height: 15%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

button {
    width: 120px;
    height: 40px;
    font-size: 20px;
    /*清除背景色*/
    background: transparent;
    /*加入圓角*/
    border-radius: 20px;
    border: 2px solid #000;
    color: black;
    /*觸碰按鈕時的動畫效果*/
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    /*滑鼠有點選的手*/
    cursor: pointer;
}

/*滑鼠碰到時的效果*/
button:hover {
    background: #2079b0;
    background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);
}

.snows img {
    width: 25px;
    animation: snows 8s linear infinite;
}

.snows {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: -70px;
}

@keyframes snows {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        transform: translateY(80vh) rotate(360deg);
        opacity: 0;
    }
}

s .snows img:nth-child(1) {
    animation-delay: 1.5s;
    width: 25px;
}

.snows img:nth-child(2) {
    animation-delay: 4s;
    width: 25px;
}

.snows img:nth-child(3) {
    animation-delay: 2.5s;
    width: 25px;
}

.snows img:nth-child(4) {
    animation-delay: 0s;
    width: 25px;
}

.snows img:nth-child(5) {
    animation-delay: 6s;
    width: 25px;
}

.snows img:nth-child(6) {
    animation-delay: 2s;
    width: 25px;
}

.snows img:nth-child(7) {
    animation-delay: 1s;
    width: 25px;
}

.snows img:nth-child(8) {
    animation-delay: 5s;
    width: 25px;
}

.snows img:nth-child(9) {
    animation-delay: 3s;
    width: 25px;
}

.snows img:nth-child(10) {
    animation-delay: 0s;
    width: 25px;
}

h2 {
    font-family: sans-serif;
}

.tail {
    display: flex;
    background-color: lightblue;
    width: 100%;
    height: 20%;
    position: relative;
    margin: auto;
    top: 1500px;
    justify-content: center;
    align-items: center;
}

.IG {
    border-radius: 50px;
    width: 50px;
}

.FB {
    border-radius: 50px;
    width: 50px;
}

/*
.x1 {
    display: flex;
    background: transparent;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
*/

/*
.btn_page2_1 {
    width: 120px;
    height: 40px;
    font-size: 20px;
    background: transparent;
    border: 2px solid #0099CC;
    border-radius: 10px;
    color: black;
    -webkit-transition-duration: 0.9s;
    transition-duration: 0.9s;
    cursor: pointer;
}
*/

/*滑鼠碰到時的效果*/
/*.btn_page2_1:hover {
    background: #2079b0;
    background-image: -webkit-linear-gradient(top, #2079b0, #eb94d0);
    background-image: -moz-linear-gradient(top, #2079b0, #eb94d0);
    background-image: -ms-linear-gradient(top, #2079b0, #eb94d0);
    background-image: -o-linear-gradient(top, #2079b0, #eb94d0);
    background-image: linear-gradient(to bottom, #2079b0, #eb94d0);
}
*/